*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.mainbox{
    background-color: ccc;
    border: 5px solid rgb(135, 135, 135);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: ghostwhite;
    /* background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1cnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center; */
    margin: 5vw;
}
#profilepic{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 5px solid rgb(163, 225, 248) ;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}
.discription b{
    font-size: 2vw;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 0.5vw;
}
.discription p{
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 1vw;
    padding: 0 10px;
}
.social{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-bottom: 1vw;
    border: 1pxs solid black;
}
ul li {
    background-color: white;
    width: 50vw;
    height: 5vw;
    list-style: none;
    border-radius: 1vw;
    border: 2px solid rgb(135, 135, 135);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin: 1vw 0;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}
.socialmedia{
    width: 45vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
}
.icon_img{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw 0;
}
.social_link{
    width: 10vw;
    height: auto;
    display: flex;
    align-items: center;
}
.social_link a{
    width: 20vw;
    height: auto;
    margin-left: 2vw;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
    position: absolute;
    text-align: start;
}
li:hover{
    background-color: rgb(163, 225, 248);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transform: scale(1.05);
    cursor: pointer;
}
